.row-fluid
  .span12
    = form_tag admin_sessions_url do
      .field
        = label_tag :email
        = email_field_tag :email
      .field
        = label_tag :password
        = password_field_tag :password
      .actions
        = submit_tag