<div class="container main-cont">
  <div class="row">
    <div class="span12 text-center user-name"><%= @registry.name %><img src="<%= @registry.type.icon_url %>" class="list-type-image"></div>
  </div>
  <div class="row pull-center">
    <div class="span12 text-center instructions">Click each item below to see why this product is a good fit for you.</div>
  </div>
  <% @categories.each_with_index do |category, i| %>
    <div class="row pull-center gray<%= (i + 1).to_s %>">
      <div class="span2 categorybox">
        <%= category.name %>
      </div><!--/.span2--> 
      <div class="span9 offset1">
        <% @registry.category_products(category.id).each do |product| %>
          <div class="productbox" >
            <a href="/users/<%= @user.id %>/registry/<%= product.id %>">
              <img src="<%= product.img_url %>">
            </a>
          </div>
        <% end %>
      </div><!--/.span9--> 
    </div><!--/.row-->   
  <% end %>
  <div class="row pull-center">    
    <div class="span12">
      <p class="learnmore-inside pull-center" style="width: 50%;"><a href="<%= approval_url %>">Approve my registry</a><img src="/assets/proceed-icon.png" class="inline"></p>
    </div>
  </div><!--/.row--> 
</div><!--/.container--> 

