<!DOCTYPE html>
<html>
<head>
  <title>RegistryApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header">
    <div class="container">
      <span class="logo">RegistryRabbit</span>
      <nav class="main-nav">
        <% if signed_in? %>
          <%= link_to "Sign Out", sign_out_url, method: :delete, class: "button sign-out-button main-header-button" %>
        <% else %>
          <%= link_to "Sign In", sign_in_url, method: :get, class: "button sign-in-button main-header-button" %>
        <% end %>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

 <%= javascript_include_tag "application" %>
</body>
</html>
